%h1 Listing accounts
%p#notice= notice
%table
  %thead
    %tr
      %th Acc
      %th Date
      %th Type name
      %th
      %th
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.acc_id
        %td= account.date
        %td= account.type_name.try(:name)
        %td= link_to 'Show', account
        %td= link_to 'Edit', edit_account_path(account)
        %td= link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Upload files', new_account_path
