%h1 Listing accounts
%p#notice= notice

- @accounts.joins(:type_name).group_by(&:acc_id).each do |acc_name, values|
  .acc_id
    = acc_name
    - values.group_by(&:date).each do |acc_date, values_by_date|
      .date
        = acc_date.strftime('%Y-%m-%d')
        - values_by_date.each do |acc|
          .acc_type
            = acc.type_name.name


= link_to 'Upload files', new_account_path
